# Config file for Binospec data reduction

[slits]
slit_csv_fname : /h/hobnob0/Binospec/2649_BLAS_1/masks/BLAS_1_slits.csv
# index of star for telluric correction
star_id : 19

[raw_data]
data_dir : /h/hobnob0/Binospec/SAO-9/individual_frames/

[calibration_data]
molecfit_path : /h/hobnob0/ESO/install/bin/
telluric_dir : /home/cmason/Documents/Research/Observing/Binospec/Bino_analysis/telluric_corrections/